.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
  }
  
  .Sciences-container {
    margin-top: -450px;
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .Sciences-container img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
  }
  .Sciences-content {
    margin-bottom: 5rem;
    margin-top: 50px;
  } 
  .faq-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 2rem;
    border: 2px solid #d0dbe5;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  }
  
  .faq-heading {
    font-size: 2.25rem; 
    color: #fc6e51;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .faq-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 2rem;
  }
  
  .faq-item p {
    margin: 0.5rem 0;
    color: #333;
    font-size: 1rem;
    line-height: 1.6;
  }
  
  .faq-item strong {
    color: #575454;
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.125rem; 
  }
  
  .Sciences-title {
    font-size: 2rem;
    color: #fc6e51;
    margin-bottom: 1.5rem;
    font-weight: 600;
  }

  .Sciences-text {
    margin: 0.5rem 0;
    color: #333;
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 500;
    margin-top: -20px;
  }